
@{
    ViewData["Title"] = "Amenidades";
}

    <div class="py-5">

        <div class="container-fluid" style="margin-top:10em;">
            <h1 class="card-subtitle" >Tours</h1>
            <div class="row hidden-md-up">
                <div class="col-md-4">
                    <div class="card mb-3">
                        <h3 class="card-header">Water Jungle Park</h3>
                        <div class="card-body"> 
                            <h5 class="card-subtitle text-muted">No te arrepentiras</h5>
                        </div>

                        <img style="height: 200px; width: 100%; display: block;" src="~/images/food/jun.jpg" alt="Card image">

                        <div class="card-body">
                            <p class="card-text">Esta es la descripcion de este cuarto.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><em>Valor:</em> 80808$</li>
                            <li class="list-group-item">Descripción: Grande</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Ver cuarto</a>
                            <a href="#" class="card-link">Reservarlo</a>
                        </div>
                        <div class="card-footer text-muted">
                            Hace 2 dias
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-3">
                        <h3 class="card-header">Canopy en las montañas</h3>
                        <div class="card-body">
                            <h5 class="card-title">Es comoda </h5>
                        </div>
                        <img style="height: 200px; width: 100%; display: block;" src="~/images/food/ca.jpg" alt="Card image">

                        <div class="card-body">
                            <p class="card-text">Esta es la descripcion de este cuarto.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><em>Valor:</em> 80808$</li>
                            <li class="list-group-item">Descripción: Grande</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Ver cuarto</a>
                            <a href="#" class="card-link">Reservar cupo</a>
                        </div>
                        <div class="card-footer text-muted">
                            Hace 2 dias
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <h3 class="card-header">Cayos cochinos</h3>
                        <div class="card-body">
                            <h5 class="card-title">Podras ir a los cayos cochinos</h5>
                        </div>
                        <img style="height: 200px; width: 100%; display: block;" src="~/images/food/cayos}.jpg" alt="Card image">
                        <div class="card-body">
                            <p class="card-text">Esta es la descripcion de este cuarto.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><em>Valor:</em> 80808$</li>
                            <li class="list-group-item">Descripción: Grande</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Ver cuarto</a>
                            <a href="#" class="card-link">Reservarlo</a>
                        </div>
                        <div class="card-footer text-muted">
                            Hace 2 dias
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>