
@{
    ViewData["Title"] = "Todo incluido";
}

    <div class="py-5" style="margin-top:7em;">

        <h1>Todo Incluido</h1>
        <br />

        <div class="container">

            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header"><h1>Variedad gastronomica</h1></div>
                <div class="card-body">
                    <img src="~/images/food/food.webp" class="card-img-top"/>

                        <ul  class="card-text">

                            <li>
                                Alojamiento
                            </li>
                            <li>
                                Alimentacion (3 tiempos de comida por estadía)
                            </li>

                            <li>
                                Snacks variados fríos y calientes (fines de semana hasta la 1 am)
                            </li>

                            <li>
                                Bebidas de la casa ilimitadas
                            </li>

                            <li>
                                Actividades de animación de día y noche
                            </li>

                            <li>
                                Uso de Kayaks y Minigolf
                            </li>

                            <li>
                                Disco (para mayores de edad hasta 1 am)
                            </li>

                            <li>
                                Impuestos y propinas
                            </li>
                        </ul>
                   
                 
                </div>
            </div>

            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header"><h1>Refrescante piscina</h1></div>
                <div class="card-body">
                    <img src="~/images/food/h1.jpg" class="card-img-top">

                    <p class="card-text">
                        Nuestro Plan Todo Incluido te permite disfrutar de tu estadía en el hotel sin tener que preocuparte por las cuentas, porque todo esta incluido en nuestras tarifas.
                    </p>
                </div>
            </div>


            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header"><h1>Bar infinito</h1></div>
                <div class="card-body">
                    <img src="~/images/food/drink.webp" class="card-img-top">

                    <p class="card-text">
                        Nuestro Plan Todo Incluido te permite disfrutar de tu estadía en el hotel sin tener que preocuparte por las cuentas, porque todo esta incluido en nuestras tarifas.
                    </p>
                </div>
            </div>

        </div>

    </div>
        
  