
@{
    ViewData["Title"] = "Hospedaje";
}

<section class="section " style="margin-top:10em;">
    <h1 class="text-dark">Nuestras Suits</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-5 aos-init aos-animate" data-aos="fade-up">
                <a href="#" class="room">
                    <figure class="img-wrap">
                        <img src="~/images/food/rom1.jpg" class="img-fluid mb-3">
                    </figure>
                    <div class="p-3 text-center room-info">
                        <h2>Suit Personal</h2>
                        <span class="text-uppercase letter-spacing-1">90$ / por noche</span>
                    </div>


                </a>

                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary">Reservar</button>
                    <button type="button" class="btn btn-secondary">Ver</button>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-5 aos-init aos-animate" data-aos="fade-up">
                <a href="#" class="room">
                    <figure class="img-wrap">
                        <img src="~/images/food/rom2.jpg" class="img-fluid mb-3">
                    </figure>
                    <div class="p-3 text-center room-info">
                        <h2>Suit Familiar</h2>
                        <span class="text-uppercase letter-spacing-1">120$ / por noche</span>
                    </div>
                </a>

                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary">Reservar</button>
                    <button type="button" class="btn btn-secondary">Ver</button>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-5 aos-init" data-aos="fade-up">
                <a href="#" class="room">
                    <figure class="img-wrap">
                        <img src="~/images/food/rom2.jpg" class="img-fluid mb-3">
                    </figure>
                    <div class="p-3 text-center room-info">
                        <h2>Suit Presidencial</h2>
                        <span class="text-uppercase letter-spacing-1">250$ / por noche</span>
                    </div>
                </a>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary">Reservar</button>
                    <button type="button" class="btn btn-secondary">Ver</button>
                </div>
            </div>



        </div>
    </div>
</section>




