
@{
    ViewData["Title"] = "Noticias";
}

<h1>Noticias</h1>


<div class="py-5" style="margin-top:6em;">
    


    <section class="section-01">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <h3 class="heading-large">Noticias extremas</h3>
                    <div class="">
                        <div class="col-lg-6 card">
                            <div class="card">
                                <img class="img-fluid" src="~/images/food/not1.webp" alt="">
                                <div class="card-body">
                                    <div class="news-title">
                                        <a href="#">
                                            <h2 class=" title-small">Gran evento se celebrara</h2>
                                        </a>
                                    </div>
                                    <p class="card-text">cualquier tipo de contenido del sitio</p>
                                    <p class="card-text"><small class="text-time"><em>Hace 3 min</em></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 card">
                            <div class="card">
                                <img class="img-fluid" 
                                     src="~/images/food/not4.webp"
                                     alt="">
                                <div class="card-body">
                                    <div class="news-title">
                                        <a href="#">
                                            <h2 class=" title-small">Gran evento se celebrara</h2>
                                        </a>
                                    </div>
                                    <p class="card-text">cualquier tipo de contenido del sitio</p>
                                    <p class="card-text"><small class="text-time"><em>Hace 3 min</em></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 card">
                            <div class="card">
                                <img class="img-fluid" src="~/images/food/not3.webp" alt="">
                                <div class="card-body">
                                    <div class="news-title">
                                        <a href="#">
                                            <h2 class=" title-small">Gran evento se celebrara</h2>
                                        </a>
                                    </div>
                                    <p class="card-text">cualquier tipo de contenido del sitio</p>
                                    <p class="card-text"><small class="text-time"><em>Hace 3 min</em></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 card">
                            <div class="card">
                                <img class="img-fluid" src="~/images/food/not2.webp" alt="">
                                <div class="card-body">
                                    <div class="news-title">
                                        <a href="#">
                                            <h2 class=" title-small">Gran evento se celebrara</h2>
                                        </a>
                                    </div>
                                    <p class="card-text">cualquier tipo de contenido del sitio</p>
                                    <p class="card-text"><small class="text-time"><em>Hace 3 min</em></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <aside class="col-lg-4 side-bar col-md-12">
                    <ul class="nav nav-tabs" role="tablist" id="myTab">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Lo último</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Relevante</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Blog</a> </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content sidebar-tabing" id="nav-tabContent">
                        <div class="tab-pane active" id="home" role="tabpanel">
                            <div class="media">
                                <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/sport2.jpg" alt="Generic placeholder image"></a>
                                <div class="media-body">
                                    <div class="news-title">
                                        <h2 class="title-small"><a href="#">El hotel la ganado un premio en x cosa</a></h2>
                                    </div>
                                    <div class="news-auther"><span class="time">1h ago</span></div>
                                </div>
                            </div>
                            <div class="media">
                                <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/lifestyle.jpg" alt="Generic placeholder image"></a>
                                <div class="media-body">
                                    <div class="news-title">
                                        <h2 class="title-small"><a href="#">El hotel la ganado un premio en x cosa</a></h2>
                                    </div>
                                    <div class="news-auther"><span class="time">Hace 1 hora</span></div>
                                </div>
                            </div>
                            <div class="media">
                                <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/food1.jpg" alt="Generic placeholder image"></a>
                                <div class="media-body">
                                    <div class="news-title">
                                        <h2 class="title-small"><a href="#">El hotel la ganado un premio en x cosa</a></h2>
                                    </div>
                                    <div class="news-auther"><span class="time">Hace 1 hora</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="profile" role="tabpanel">
                            <div class="media">
                                <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/movie.jpg" alt="Generic placeholder image"></a>
                                <div class="media-body">
                                    <div class="news-title">
                                        <h2 class="title-small"><a href="#">El hotel la ganado un premio en x cosa</a></h2>
                                    </div>
                                    <div class="news-auther"><span class="time">Hace 1 hora</span></div>
                                </div>
                            </div>
                            <div class="media">
                                <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/auto.jpg" alt="Generic placeholder image"></a>
                                <div class="media-body">
                                    <div class="news-title">
                                        <h2 class="title-small"><a href="#">El hotel la ganado un premio en x cosa</a></h2>
                                    </div>
                                    <div class="news-auther"><span class="time">Hace 1 hora</span></div>
                                </div>
                            </div>
                            <div class="media">
                                <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/business1.jpg" alt="Generic placeholder image"></a>
                                <div class="media-body">
                                    <div class="news-title">
                                        <h2 class="title-small"><a href="#">El hotel la ganado un premio en x cosa</a></h2>
                                    </div>
                                    <div class="news-auther"><span class="time">Hace 1 hora</span></div>
                                </div>
                            </div>
                        </div>
            
                    </div>


                    <div class="video-sec">
                        <h4 class="heading-small">Video </h4>
                        <div class="video-block">
                            <div class="embed-responsive embed-responsive-4by3">
                                <iframe class="embed-responsive-item" src="//https://www.youtube.com/embed/watch?v=xFwyaiOpeO4" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>

</div>
