
@{
    ViewData["Title"] = "Villas";
}

    <div class="py-5" style="margin-top:6em;">


        <div class="col-md-7">
            <h2 class="heading aos-init aos-animate" data-aos="fade-up">Villas disponibles</h2>
            <p data-aos="fade-up" class="aos-init aos-animate">
                La mejor inversión en residencias vacacionales,. Las villas están ubicadas dentro del Complejo Turístico Palma Real, el mas grande y completo de Honduras.
                Te invitamos a conocer nuestro proyecto de villas y ser parte de el.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 post aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

                <div class="media media-custom d-block mb-4 h-100">
                    <a href="#" class="mb-4 d-block"><img src="~/images/food/villa1.webp" alt="Image placeholder" class="img-fluid"></a>
                    <div class="media-body">
                        <span class="meta-post">February 26, 2019</span>
                        <h2 class="mt-0 mb-3"><a href="#">Villas Caracol</a></h2>
                        <p>Villas de 89 m2 de construcción y un terreno de 215.14 v2. Tienen 2 dormitorios y 2 baños y están ubicadas a pocos metros del mar. Este modelo es ideal para inversión, ya que se puede alquilar fácilmente atreves del hotel.</p>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-12 post aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <div class="media media-custom d-block mb-4 h-100">
                    <a href="#" class="mb-4 d-block"><img  src="~/images/food/villa2.webp" alt="Image placeholder" class="img-fluid"></a>
                    <div class="media-body">
                        <span class="meta-post">February 26, 2018</span>
                        <h2 class="mt-0 mb-3"><a href="#">Villas caribe</a></h2>
                        <p>Villa de 3 y 4 dormitorios con un área de terreno de 552.23 v2. Por su amplitud, esta villa es ideal para vacacionar en familia.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 post aos-init" data-aos="fade-up" data-aos-delay="300">
                <div class="media media-custom d-block mb-4 h-100">
                    <a href="#" class="mb-4 d-block"><img  src="~/images/food/villa3.webp" alt="Image placeholder" class="img-fluid"></a>
                    <div class="media-body">
                        <span class="meta-post">February 26, 2018</span>
                        <h2 class="mt-0 mb-3"><a href="#">Villas Arrecife</a></h2>
                        <p>
                            Villa de 3 habitaciones y 2 baños. posee un are de terreno de 562.23 v2 y un área de construcción de 164 m2.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>